In [5]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números
def impriDe0a20():
    count =1
    while count < 21:
        if count%2 ==0:
            print(count)
        count += 1
    return

impriDe0a20()

2
4
6
8
10
12
14
16
18
20

In [9]:
# Exercício 2 - Crie uam função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string
def tudoMaiuscula(palavra):
    return palavra.upper()
tudoMaiuscula('ola')

'OLA'

In [3]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista
def addLista(item1,item2,item3,item4):
    lista = [item1,item2,item3,item4]
    lista.append('laranja')
    lista.append('maça')
    print(lista)
    return
addLista('morango','abacaxi',23,5.5)

['morango', 'abacaxi', 23, 5.5, 'laranja', 'maça']

In [6]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos
def addLista2(formal,*lista):
    lista1 = [formal]
    lista1.append(lista)
    print(lista1)
    return
addLista2('ola')
addLista2('jefferson',3,'daiana',10.1)

['ola', ()]
['jefferson', (3, 'daiana', 10.1)]

In [7]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
# números como parâmetro e retornar a soma deles
soma = lambda x,y:x+y
soma(5,7)

12

In [ ]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local

In [1]:
# Exercício 7 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "binary.csv"
import pandas as pd
file_name = "salarios.csv"

def retornaArq(file_name):
    df = pd.read_csv(file_name)
    return df.describe()
    
retornaArq(file_name)

                     Name  Position Title Department Employee Annual Salary
count               32181           32181      32181                  32181
unique              31893            1094         35                   1105
top     KELLY,  MICHAEL J  POLICE OFFICER     POLICE              $86520.00
freq                    4            9489      13570                   2497